@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  /* Base font size */
  font-size: 10px;
  color: antiquewhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/images/portfoliodc/backgroundAM.jpg);
  background-size: cover;
  backdrop-filter: blur(7.4px);
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  -webkit-text-stroke: 1px wheat;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: transparent;
  background-image: url(/images/portfoliodc/bgtitle.jpg);
  background-clip: text;
}

.heading span {
  display: block;
}

.container .h2 {
  margin: 0;
  padding: 50px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  width: 90vw;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;

  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

/* zoom */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  overflow: hidden;
}

.lightbox .gallery-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lightbox .lightbox-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.close-button {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
