body {
  font-size: 14px;
  color: #bdcae5;
  margin: 0;
  padding: 0;
  background-color: #111f43;
  font-family: "Roboto", sans-serif;
  position: relative;
}
h2 {
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d1731;
  backdrop-filter: blur(50px);
  pointer-events: none;
  z-index: -1;
}

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle closest-side,
    rgba(29, 78, 216, 0.15),
    transparent
  );
  pointer-events: none;
  z-index: 30;
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Zone fixe à gauche */
.sidebar {
  width: 400px;
  margin: 0 auto;
  /* Ajustez la largeur selon vos besoins */
  padding-right: 20px;
  position: fixed;
  top: 10%;
  left: 10%;
  height: 100vh;
  overflow-y: auto;
}

.sidebar a.active {
  color: #1cc49d;
  /* Change the color for the active link */
  font-weight: bold;
  /* Add any additional styling you want for the active link */
  letter-spacing: 4px;
  animation-timing-function: ease;
  transition: 0.2s;
}

.profile {
  text-align: left;
  margin-bottom: 50px;
}

.profile p {
  font-size: 14px;
}

.profile h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

.profile h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  padding-top: 30px;

  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

nav li {
  display: flex;
  align-items: center;
}

.barre {
  height: 1px;
  width: 30px;
  background-color: #fffcfc;
  margin-right: 10px;
  transition: height 0.3s ease-in-out;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7e8390;
  display: block;
  padding: 10px 0;

  font-family: "Roboto", sans-serif;
}

nav li:hover .barre {
  width: 50px;
  animation-timing-function: ease;
  transition: 0.5s;
}

nav li:hover a {
  color: wheat;
  letter-spacing: 2px;
}

.hero-section {
  margin: 0;
  padding: 0;
  width: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--spacing-s);
  box-sizing: border-box;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

#intro-text,
#conclusion-text {
  transition: filter 0.5s ease;
}

.card-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.card {
  list-style: none;
  position: relative;
  flex: 1;
}

.card:before {
  padding-bottom: 0; /* Supprime, car la hauteur est contrôlée par .card */
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
  box-shadow: 0px 32px 44px 13px rgba(0, 0, 0, 0.1);
}

.card__category,
.card__heading {
  font-size: 1px;
}

.card__background {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 180px; /* Hauteur temporaire pour le test */
  width: 100%; /* Prend toute la largeur de .card */
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.card:hover .card__background {
  transform: scale(1.05) translateZ(0) translateY(-20px);
  box-shadow: -4px 22px 26px -5px rgba(0, 0, 0, 0.1);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  padding: var(--spacing-s);
  position: absolute;
  top: 0;
}

.card__heading {
  margin: 0;
  padding: 0;
  color: var(--text-lighter);
  font-size: 14px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .card__heading {
  opacity: 1;
  transform: scale(1.05) translateZ(0) translateY(-20px);
  transition: transform 0.3s ease;
}

.contact-icons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.contact-icons a {
  margin-right: 10px;
  /* Ajoute une marge à droite entre les icônes pour les espacer légèrement */
}

.contact-icons img {
  width: 30px !important;
  height: 30px !important;
  filter: saturate(0) brightness(100%);
  transition: filter 0.2s ease;
}

.contact-icons img:hover {
  filter: brightness(1.2);
  /* Changer la couleur au survol */
}

/* Zone scrollable à droite */
.scrollable-content {
  flex-grow: 1;
  margin-left: 50%;
  /* Ajustez selon la largeur de votre sidebar */
}

section {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-right: 40px;
  font-size: 18px;
}

section:hover strong {
  color: #1cc49d;
  transition: color 0.4s ease;
}

/* Expérience et Projets */
.experience-item,
.projet-item,
.certification {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  transition: background-color 0.4s ease;
}
.experience-item {
  font-size: 16px;
}
.projet-item,
.experience-item {
  display: flex;
  /* Utilisez flexbox pour aligner les éléments horizontalnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnement */
  align-items: flex-start;
  /* Alignez les éléments verticalement en haut */
  flex-wrap: wrap;
}

.experience-item:hover,
.projet-item:hover,
.certification:hover {
  background: #172548;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.experience-item h2 {
  font-size: 14px;
  text-decoration: underline;
}

.experience-item h2 {
  display: flex;
  /* Utilisez flexbox pour aligner les éléments horizontalement */
  align-items: center;
}

/* Alignez les éléments verticalement au centre */
.experience-item img:hover {
  filter: brightness(1.2);
}

.date {
  margin-top: 25px;
  font-weight: bold;
  font-size: 14px;
  min-width: 80px;
}

.content {
  flex-grow: 1;
}
.certification .content h3 {
  margin-bottom: 15px;
}

.certification .buttons-container {
  margin-bottom: 30px;
  margin-top: 0px;
}
.projet-item {
  cursor: pointer;
}

projet-item .content p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.experience-item:hover h3,
.projet-item:hover h3,
.certification:hover h3 {
  transition: 0.3s ease;
  color: #1cc49d;
}

.buttons-container {
  display: flex; /* Active Flexbox */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
  gap: 10px; /* Espace entre les boutons */
  pointer-events: none;
}

.custom-tag {
  display: flex; /* équivalent de 'flex' dans items-center */
  border-radius: 9999px; /* 'rounded-full' pour rendre les bords complètement arrondis */
  background-color: rgba(
    20,
    184,
    166,
    0.1
  ); /* 'bg-teal-400/10' pour la couleur de fond avec opacité */
  padding: 0.25rem 0.75rem; /* 'px-3 py-1' pour le padding horizontal et vertical */
  font-size: 0.75rem; /* 'text-xs' pour la taille de texte */
  /* 'font-medium' pour la graisse du texte */
  line-height: 1.25; /* 'leading-5' pour l'espacement des lignes */
  color: #4fd1c5; /* 'text-teal-300' pour la couleur du texte */
  font-weight: 600;
  text-decoration: none;
}
.certification:hover .custom-tag,
.experience-item:hover .custom-tag {
  color: wheat;
}

#experience h2 a,
#projets a {
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #7e8390;
  transition: color 0.3s ease;
  margin-left: 370px;
  margin-bottom: 10px;
}

#experience h2 a:hover,
#projets a:hover {
  color: #1cc49d;
  transform: translate(15px, 5px);
  transition: 0.6s ease;
}
#experience h2 img,
#projets a img {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px;
}

#projets .projet-item {
  display: flex; /* Active Flexbox */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: start; /* Aligner les éléments au début horizontalement */
  gap: 20px; /* Espace entre l'image et le texte */
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-top: 0;
}

.projet-img {
  flex: 0 1 120px; /* Ne grandit pas, peut rétrécir, base de 120px */
  display: flex; /* Ajoutez Flexbox ici si nécessaire */
  justify-content: center; /* Centre horizontalement l'image dans son conteneur */

  height: 80px; /* Hauteur fixe */
}

.projet-img img {
  max-width: 100%; /* Assure que l'image ne dépasse pas son conteneur */
  max-height: 100%; /* Assure que l'image ne dépasse pas la hauteur du conteneur */
  border: none; /* Optionnel: Supprime la bordure de l'image elle-même */
}

#projets .content {
  flex: 1;
}
/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #121f40;
}

section {
  margin-bottom: 40px;
}

#contact a {
  text-decoration: none;
  color: inherit;
}
